In [1]:
import pandas as pd

In [52]:
facilities = pd.read_csv("E:/Affirm/affirm-take-home-interview-sept-2018/small/facilities.csv")
#facilities.iloc[0]['id'] # to get one cell value from the dataframe
covenants = pd.read_csv("E:/Affirm/affirm-take-home-interview-sept-2018/small/covenants.csv")

In [53]:
loans = pd.read_csv("E:/Affirm/affirm-take-home-interview-sept-2018/small/loans.csv")
loans['expected_yield'] = 0.0
loans.head()

   interest_rate  amount  id  default_likelihood state  expected_yield
0           0.15   10552   1                0.02    MO             0.0
1           0.15   51157   2                0.01    VT             0.0
2           0.35   74965   3                0.06    AL             0.0

In [54]:
loans.at[0,'expected_yield'] = ((1 - loans.iloc[0]['default_likelihood']) * loans.iloc[0]['interest_rate'] * loans.iloc[0]['amount']) - (loans.iloc[0]['default_likelihood'] * loans.iloc[0]['amount']) - (loans.iloc[0]['interest_rate'] * loans.iloc[0]['amount'])
loans.at[1,'expected_yield'] = ((1 - loans.iloc[1]['default_likelihood']) * loans.iloc[1]['interest_rate'] * loans.iloc[1]['amount']) - (loans.iloc[1]['default_likelihood'] * loans.iloc[1]['amount']) - (loans.iloc[1]['interest_rate'] * loans.iloc[1]['amount'])
loans.at[2,'expected_yield'] = ((1 - loans.iloc[2]['default_likelihood']) * loans.iloc[2]['interest_rate'] * loans.iloc[2]['amount']) - (loans.iloc[2]['default_likelihood'] * loans.iloc[2]['amount']) - (loans.iloc[2]['interest_rate'] * loans.iloc[2]['amount'])
#print(1 - loans.iloc[0]['default_likelihood'])

In [55]:
loans.head()

   interest_rate  amount  id  default_likelihood state  expected_yield
0           0.15   10552   1                0.02    MO       -242.6960
1           0.15   51157   2                0.01    VT       -588.3055
2           0.35   74965   3                0.06    AL      -6072.1650

In [40]:
facilities['max_default_likelihood'] = 0.0

facilities.at[0,'max_default_likelihood'] = 0.09
facilities.at[1,'max_default_likelihood'] = 0.06
facilities['facility_yeild'] = 0.0
facilities.head()

,amount,interest_rate,id,bank_id,max_default_likelihood,facility_yeild
0,61104.0,0.07,2,1,0.09,0.0
1,126122.0,0.06,1,2,0.06,0.0

In [41]:
facilities.at[0,'facility_yeild'] = ((1 - facilities.iloc[0]['max_default_likelihood']) * facilities.iloc[0]['interest_rate'] * facilities.iloc[0]['amount']) - (facilities.iloc[0]['max_default_likelihood'] * facilities.iloc[0]['amount']) - (facilities.iloc[0]['interest_rate'] * facilities.iloc[0]['amount'])
facilities.at[1,'facility_yeild'] = ((1 - facilities.iloc[1]['max_default_likelihood']) * facilities.iloc[1]['interest_rate'] * facilities.iloc[1]['amount']) - (facilities.iloc[1]['max_default_likelihood'] * facilities.iloc[1]['amount']) - (facilities.iloc[1]['interest_rate'] * facilities.iloc[1]['amount'])
facilities.head()

,amount,interest_rate,id,bank_id,max_default_likelihood,facility_yeild
0,61104.0,0.07,2,1,0.09,-5884.3152
1,126122.0,0.06,1,2,0.06,-8021.3592

In [46]:
columns = ['facilityId','facilityInterest','maxLikelihood','bannedState']
tempTable = pd.DataFrame(columns = columns)
tempTable = facilities[['id','interest_rate','max_default_likelihood']]
tempTable.head()

   id  interest_rate  max_default_likelihood
0   2           0.07                    0.09
1   1           0.06                    0.06

In [51]:
for index,row in facilities.iterrows():
    print(index)

0
1

In [146]:
facilities = pd.read_csv("E:/Affirm/affirm-take-home-interview-sept-2018/small/facilities.csv")
covenants = pd.read_csv("E:/Affirm/affirm-take-home-interview-sept-2018/small/covenants.csv")
loans = pd.read_csv("E:/Affirm/affirm-take-home-interview-sept-2018/small/loans.csv")

In [157]:
covenantConcat = covenants.groupby('facility_id').apply(lambda x: list(x.banned_state))
covenantConcat = pd.DataFrame(covenantConcat, columns = ["Banned"])
covenantConcat['facility_id'] = covenantConcat.index
covenantConcat

               Banned  facility_id
facility_id
1            [VT, CA]            1
2                [MT]            2

In [148]:
covenantLikelihood = covenants.groupby('facility_id').max()
covenantLikelihood = pd.DataFrame(covenantLikelihood, columns = ["max_default_likelihood"])
covenantLikelihood['facility_id'] = covenantLikelihood.index
covenantLikelihood

             max_default_likelihood  facility_id
facility_id
1                              0.06            1
2                              0.09            2

In [156]:
facilityCovenant = pd.merge(facilities,covenantConcat[['Banned']],left_on='id',right_on='facility_id',how='left')
facilityCovenant = pd.merge(facilityCovenant,covenantLikelihood[['max_default_likelihood']],left_on='id',right_on='facility_id',how='left')
facilityCovenant = facilityCovenant.sort_values('interest_rate')
facilityCovenant = facilityCovenant.reset_index(drop=True)
facilityCovenant

     amount  interest_rate  id  bank_id    Banned  max_default_likelihood
0  126122.0           0.06   1        2  [VT, CA]                    0.06
1   61104.0           0.07   2        1      [MT]                    0.09

In [153]:
for loanIndex,loanRow in facilityCovenant.iterrows():
    print(loanIndex)

AttributeError: 'function' object has no attribute 'iterrows'

In [137]:
loans['state'][0] not in new_df['Banned']

True